[alt_names]
    IP.1 = 10.135.52.214
[req]
  distinguished_name = req_distinguished_name
  req_extensions = v3_req
[req_distinguished_name]
[v3_req]
  basicConstraints = CA:FALSE
  keyUsage = nonRepudiation, digitalSignature, keyEncipherment
  subjectAltName = @alt_names
