[alt_names]
  DNS.1 = kubernetes
  DNS.1 = kubernetes.default
  DNS.1 = kubernetes.default.svc
  DNS.1 = kubernetes.default.svc.cluster.local
  DNS.1 = *.myfqdn.com
  DNS.6 = 10.135.12.57
  IP.1 = 10.3.0.1
  IP.2 = NXDOMAIN
  [req]
  distinguished_name = req_distinguished_name
  req_extensions = v3_req
[req_distinguished_name]
[v3_req]
  basicConstraints = CA:FALSE
  keyUsage = nonRepudiation, digitalSignature, keyEncipherment
  subjectAltName = @alt_names
